<div class="container mt-5 d-flex flex-column align-items-center">
    <mat-card class="p-4" style="width: 100%; max-width: 800px; height: 100%;">
        <h2 class="text-center mb-4">RISK ANALYSIS</h2>
        <div class="form-container">
            <form>
                <div class="form-group mb-4" *ngFor="let question of questions">
                    <label>{{ question.text }}</label>
                    <mat-radio-group [(ngModel)]="question.selectedOption" name="{{ question.name }}"
                        class="d-flex flex-column">
                        <mat-radio-button *ngFor="let option of question.options" [value]="option.value">
                            {{ option.text }} ({{ option.score }})
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <button mat-raised-button color="primary" class="w-100 mb-4" (click)="calculateScore()">Check Your Risk Tolerance</button>
            </form>
            </div>
        <div *ngIf="totalScoreUI > 0">
            <h3>Total Score: {{ totalScoreUI }}</h3>
            <h4>Risk Profile: {{ riskProfileUI }}</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Final Score</th>
                        <th>Risk Profile</th>
                        <th>Suitable Investment & Insurance Products</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="riskProfileUI === 'Low Risk (Conservative)'">
                        <td>18-27</td>
                        <td>Low Risk (Conservative)</td>
                        <td>Fixed Deposits, PPF, Government Bonds, Term Insurance, Endowment Plans</td>
                    </tr>
                    <tr *ngIf="riskProfileUI === 'Moderate Risk (Balanced)'">
                        <td>28-39</td>
                        <td>Moderate Risk (Balanced)</td>
                        <td>Debt & Hybrid Mutual Funds, NPS, ULIPs, Health & Life Insurance</td>
                    </tr>
                    <tr *ngIf="riskProfileUI === 'High Risk (Aggressive)'">
                        <td>40-54</td>
                        <td>High Risk (Aggressive)</td>
                        <td>Equity, Direct Stocks, IPOs, Crypto, Term Insurance with Critical Illness Cover</td>
                    </tr>
                </tbody>
            </table>
        </div>
            <!-- Navigation Buttons -->
            <button mat-raised-button color="primary" class="w-100 mb-2" (click)="navigateToNext()">Next</button>
            <button mat-raised-button color="accent" class="w-100" (click)="navigateToBack()">Back</button>
    </mat-card>
</div>