<mat-toolbar color="primary" class="header">
  <img src="assets/images/next.jpeg" alt="Unext" class="header-logo">
  <img src="assets/images/manipal.jpeg" alt="Manipal Academy of BFSI" class="header-logo">
  <img src="assets/images/idbi.jpeg" alt="IDBI Bank" class="header-logo">

  <span class="spacer"></span>
  <a mat-button routerLink="/" class="home-link">Home</a>
  <a mat-button (click)="exportData()" class="export-link">Export</a>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-toolbar color="primary" class="footer">
  <span class="footer-text">&copy; 2025 Finance Tracker. All rights reserved.</span>
</mat-toolbar>