<div class="home-container d-flex flex-column align-items-center justify-content-center">
    <button mat-raised-button color="accent" class="whatsapp-button mt-3" (click)="openWhatsApp()">WhatsApp</button>
    <button mat-raised-button color="warn" class="phone-call-button mt-3" (click)="makePhoneCall()">Phone Call</button>
    <button mat-raised-button color="primary" class="email-button mt-3" (click)="sendEmail()">Send Email</button>
    <button mat-raised-button color="primary" class="excel-button mt-3" (click)="updateOnlineJson('12','hdujd')">Update Online
        Excel</button>
</div>