<div class="container mt-5 d-flex flex-column align-items-center">
    <mat-card class="p-4" style="width: 100%; max-width: 800px; height: 100%;">
        <h2 class="text-center mb-4">Product Offerings</h2>
        <p class="text-center mb-4">Thanks for participating, choose your next best product:</p>
        <div class="form-container">
            <form>
                <div class="form-group mb-3" *ngFor="let product of productOfferings">
                    <mat-checkbox [(ngModel)]="selectedProducts[product.name]" name="{{product.name}}">
                        {{product.label}}
                    </mat-checkbox>
                </div>
                <button mat-raised-button color="primary" class="w-100 mb-2" (click)="navigateToNext()">Next</button>
                <button mat-raised-button color="accent" class="w-100" (click)="navigateToBack()">Back</button>
            </form>
        </div>
    </mat-card>
</div>